<!DOCTYPE html>
<html lang="pt-PT">
  <head>
    <!-- https://github.com/joshbuchea/HEAD -->

    <!-- Recommended -->
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!-- Meta -->
    <meta name="description" content="{{ metadata.description }}"/>
    <meta name="generator" content="11ty"/>

    <!-- Icons -->
    <!-- https://favicon.io/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/apple-touch-icon.png' | url }}"/>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/favicon-32x32.png' | url }}"/>
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/favicon-16x16.png' | url }}"/>
    <link rel="manifest" href="{{ '/site.webmanifest' | url }}"/>

    <title>{{ title or metadata.title }}</title>

    <link rel="stylesheet" href="{{ '/site.css' | url }}"/>
  </head>

  <body class="max-w-full mx-auto border-green-500 border-[1rem] bg-zinc-800 text-slate-50 font-mono">
    <div class="max-w-5xl p-6 mx-auto">

      {% include "components/header.njk" %}}

      <main class="mt-6" id="content">
        {{ layoutContent | safe }}
      </main>

      {% include "components/footer.njk" %}

    </div>
  </body>
</html>
