<header class="flex flex-row items-center">
  <img
    class="hidden md:block md:w-28 md:h-28"
    src="img/avatar.png"
    alt="my avatar is a french buldog with a yellow hoodie">
  <div class="flex flex-col flex-grow md:ml-6">
    <a class="text-2xl font-bold md:text-4xl" href="/">{{ title or metadata.title }}<span class="text-green-500">.</span></a>
    <nav class="flex flex-row">
      <a class="my-1 mr-4" href="/">📁 arquivo</a>
      <a class="my-1 mr-4" href="/">🏷️ tags</a>
      <a class="my-1 mr-4" href="/">🐢 sobre</a>
      <a class="my-1" href="/">⌨️ teclados</a>
    </nav>
  </div>
</header>
